/* * {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: right;
  padding: 15px;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
} */
